<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.typekit.net/mwv1yui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/header-style.css">
    <link rel="stylesheet" href="../css/posts-add-style.css">
    <title>Talk About It - Add New Post</title>
</head>

<body>
    <header>
        <ul class="navbar">
            <li><a href="/"><img class="header__logo" src="../img/logo-orange-transparent-background.png"></a></li>
            <div class="header__search">
            <li><input class="header__search__box" type="text" value="What are you looking for...?"></li>
            <li><button class="header__search__button" type="submit"><i class="fa fa-search"></i></button></li>
            </div>
            <a href="/posts/"><li class="header__button">Post
            </li></a>
            <li class="header__button">Login</button>
            </li>
            <li><label for="p1" class="mobile__menu__button"><i class="fa fa-bars"></i></label></li>
        </ul>
        
        <input type="checkbox" class="hide" id="p1">
        
        <div id="popup1" class="overlay">
            <ul class="popup">
            <li class="menu__logo"><a href="/"><img class="menu__logo__png" src="../img/logo-orange-transparent-background.png"></a></li>
            <label for="p1" class="close">&times;</label>
        <div class="menu__search">
            <li><input class="menu__search__box" type="text" value="What are you looking for...?"></li>
            <li><button class="menu__search__button" type="submit"><i class="fa fa-search"></i></button></li>
        </div>
            <a href="/posts/"><li class="menu__button">Post</li></a>
            <li class="menu__button">Login</li>
            </ul>
        
        </div>
    </header>

    <div class="wrapper">
        <div class="box content">
          <h2>Write a New Post</h2>
          <fieldset class ="post__add__form">        
          <form action="/posts/" method="POST">
            <ul>
              <li class="post__info__field">Title:</li>
              <li><input class="post__title" type="text" name="title" /></li>
              <li class="post__info__field">Category:</li>
              <select name="category">
                <option th:each="category : ${categories}" 
                th:value="${category.category}" 
                th:text="${category.category}">
                </option> 
             </select>
              <li class="post__info__field">Author:</li>
              <select name="author">
                <option th:each="author : ${authors}" th:value="${author.author}" th:text="${author.author}"></option> 
             </select>
              <!-- <li><input class="post__tags" type="text" name="author" /></li> -->
              <li class="post__info__field">Body:</li>
              <li><input class="post__body" type="textarea" name="body"/></li>
              <li class="post__info__field">Tag:</li>
              <select name="tagId">
                <option th:each="tag : ${tags}" th:value="${tag.tagLabel}" th:text="${tag.tagLabel}"></option> 
             </select>
                
            </ul>
                <button class = "post__add__button" type="submit">Submit</button>
        </form>
            
          </fieldset>
      
                <ul>
            <li th:each="post : ${posts}">
                <span th:text="|${post.title}, ${post.time}, ${post.body}|">Title</span>
                <span th:each="author : ${post.author}" th:text="${author.author}">Default Author</span>
                <span th:each="category : ${post.category}" th:text="${category.category}">Default Category</span>
                <span th:each="tag : ${post.tags}" th:text="${tag.tagLabel}">Default Tags</span>
            
            </li>
        </ul>
        <footer class="box footer">The Talk About It Group, © 2019</footer>
    </div><!--wrapper-->

</body>
</html>