/* <!--BEGIN HEADER CSS--> */
* {
  font-family: atrament-web, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  background-color: white;
  box-shadow: 1px 1px 1px black;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  height: auto;
  justify-content: space-between;
  position: fixed;
  position: absolute;
  width: 100%;
}

.header__logo {
  height: 10rem;
  width: auto;
  margin-top: -3rem;
  margin-bottom: -3rem;
  margin-left: -1rem;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-items: space-between;
}

ul {
  font-size: 1rem;
  list-style: none;
  padding: 1rem;
  margin: 0;
  align-items: center;
}

.header__search {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.header__search__box {
  height: 2rem;
  width: 20rem;
  border-radius: 5px;
  border-style: solid;
  padding-left: 1rem;
  padding-right: 3rem;
  margin-left: 5rem;
  font-size: 1rem;
}

.header__search__button {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border-radius: 360px;
  border-style: none;
  margin-left: -2rem;
}

.header__search__button:hover {
  color: #ff5d00;
}

.header__button {
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  font-size: 1.3rem;
  height: 2rem;
  margin: 0.5rem;
  min-width: 72px;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header__button:hover {
  background-color: #ff5d00;
  color: white;
  border-color: #ff5d00;
}

.hide {
  display: none;
}

.button {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 2.5rem;
  font-style: bold;
  margin-top: 0px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px black;
  color: #026670;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.button:hover {
  background-color: #ff5d00;
  color: white;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}
.overlay.light {
  background: rgba(255, 255, 255, 0.5);
}
.overlay .cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}

#p1:checked ~ #popup1.overlay {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 75px auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #fff;
  border: 1px solid #666;
  width: 475px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: relative;
}
.light .popup {
  border-color: #aaa;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
.popup h2 {
  background-color: #026670;
  margin-top: 0;
  color: white;
}

.popup .close {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 20px;
  right: 20px;
  opacity: 1;
  transition: all 200ms;
  font-size: 5rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin-top: -1rem;
}
.popup .close:hover {
  opacity: 1;
  color: #ff5d00;
}

.popup .menu__content {
  max-height: 400px;
  overflow: auto;
}
.popup p {
  margin: 0 0 1em;
}
.popup p:last-child {
  margin: 0;
}

.menu__logo__png {
  text-align: center;
  height: 10rem;
  width: auto;
  margin: -2rem;
}

.menu__search {
  display: flex;
  margin: 0.5rem;
  align-items: center;
}

.menu__search__box {
  height: 2rem;
  width: 27.5rem;
  border-radius: 5px;
  border-style: solid;
  padding-left: 1rem;
}

.menu__search__button {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border-radius: 360px;
  border-style: none;
  margin-left: -2rem;
}

.menu__search__button:hover {
  color: #ff5d00;
}

.menu__button {
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  font-size: 1.3rem;
  height: 2rem;
  margin: 0.5rem;
  min-width: 72px;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.menu__button:hover {
  background-color: #ff5d00;
  color: white;
  border-color: #ff5d00;
}

.hide {
  height: 0px;
  width: 0px;
  display: hide;
  position: absolute;
}

.close {
  font-size: 40px;
}
/*<!--END HEADER CSS-->*/