<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.typekit.net/mwv1yui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/home-style.css">
    <title>Nate's Blog</title>
</head>

<body>
    <header>
        <ul class="navbar">
            <li><a href="/"><img class="header__logo" src="https://i.imgur.com/yvdZ6MY.png"></a></li>
            <div class="header__search">
            <li><input class="header__search__box" type="text" value="What are you looking for...?"></li>
            <li><button class="header__search__button" type="submit"><i class="fa fa-search"></i></button></li>
            </div>
            <a href="/posts"><li class="header__button">Post
            </li></a>
            <li class="header__button">Login</button>
            </li>
            <li><label for="p1" class="mobile__menu__button"><i class="fa fa-bars"></i></label></li>
        </ul>
        
        <input type="checkbox" class="hide" id="p1">
        
        <div id="popup1" class="overlay">
            <ul class="popup">
            <li class="menu__logo"><a href="/"><img class="menu__logo__png" src="https://i.imgur.com/yvdZ6MY.png"></a></li>
            <label for="p1" class="close">&times;</label>
        <div class="menu__search">
            <li><input class="menu__search__box" type="text" value="What are you looking for...?"></li>
            <li><button class="menu__search__button" type="submit"><i class="fa fa-search"></i></button></li>
        </div>
            <a href="/posts"><li class="menu__button">Post</li></a>
            <li class="menu__button">Login</li>
            </ul>
        
        </div>
    </header>

    <div class="wrapper">
            <div class="viewport"><img class="main__logo" src="https://i.imgur.com/69GQLp9.png">
      </div>
            <div class="box content">
              <h2>Content 1</h2>
              <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis laudantium animi commodi pariatur earum exercitationem quisquam delectus praesentium. Id iusto ut commodi delectus enim dolores cupiditate exercitationem odio alias recusandae?</p></div><!--box content-->
             <div class="box content2">
               <h2>Content 2</h2>              
               <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis laudantium animi commodi pariatur earum exercitationem quisquam delectus praesentium. Id iusto ut commodi delectus enim dolores cupiditate exercitationem odio alias recusandae?</p></div><!--box content2-->
            <div class="box content3">
              <h2>Content 3</h2>
              <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis laudantium animi commodi pariatur earum exercitationem quisquam delectus praesentium. Id iusto ut commodi delectus enim dolores cupiditate exercitationem odio alias recusandae?</p> </div><!--box content3-->
            <footer class="box footer">Nate Fritz, © 2019</footer>
    </div><!--wrapper-->
</body>
</html>